* {
      margin: 0;
      padding: 0;
}

.header {
      background-color: #9A9FA4;
      height: 130px;
}

.container {
      width: 80%;
      max-width: 1520px;
      margin: auto;
}

.header_nav {
      display: flex;
      justify-content: space-between;
      padding: 30px 0 30px;
}

.header_nav_description {
      width: 68%;
}

.header_nav_description a {
     color: azure;
     text-transform: uppercase;
      font-weight: bold;
}

.header_nav_description a:hover {
      color: red;
 }

.header_nav_link {
      display: flex;
}

header button,
.header_nav_logo {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
}

.header_nav_logo,
.cart {
      background-color: #589DC4;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 16%;
      height: 70px;
}

.cart img {
      height: 70%;
}

.description_link {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 35px;
      text-decoration: none;
}

.color1 {
      background-color: #9D62DD;
      border: #9D62DD;
      width: 33.3%;
}

.color2 {
      background-color: #F78B48;
      border: #F78B48;
      width: 66.6%;
}

.color3 {
      background-color: #9CCC3D;
      border: #9CCC3D;
      width: 33.3%;
}

.color4 {
      background-color: #DF59CA;
      border: #DF59CA;
      width: 33.3%;
}

.color5 {
      background-color: #FFB54E;
      border: #FFB54E;
      width: 33.3%;
}

.main {
      height: 550px;
      background: url(../images/fon_header3.jpg) 50%/cover no-repeat;
}

footer {
      background: #9862D3;
      height: 200px;
      margin: auto;
}